* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: calc(100vh - 55px);
}

#container {
  margin: 10px auto;
  padding: 20px 15px;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  width: 250px;
  height: 15em;
  margin: 10px;
  border: 1px solid #00000030;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: linear 0.2s;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.img_html img,
.img_css img,
.img_js img {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.title_language {
  margin: 10px auto;
  border-top: 1px solid #00000030;
  width: 100%;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}