* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  height: 38em;
  width: 70em;
}

#MyInfos {
  width: 45em;
  background-color: #003ecb;
  color: #fff;
  text-align: center;
  padding: 50px;
  display: inline-block;
  border-radius: 5px;
}

#MyInfos img {
  border-radius: 60%;
  margin: 1em;
}

#MyInfos h1 {
  margin: 10px;
  margin-bottom: 50px;
  font-size: 2em;
}

#MyInfos a {
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

#MyInfos a:hover {
  border: none;
  background-color: #fff;
  color: #003ecb;
  cursor: pointer;
  transition: linear 0.5s;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}

#content h2 {
  font-size: 2em;
  margin: 20px;
}

#content img {
  width: 80px;
  height: 80px;
  margin: 20px 20px 0px;
}

.AboutMe {
  height: 17em;
  width: 15em;
  margin: 0 20px 20px 20px;
  box-shadow: 0px 0px 30px #00000043;
  border-radius: 5px;
}

.Skills {
  box-shadow: 0px 0px 30px #00000043;
  border-radius: 5px;
  height: 17em;
  width: 15em;
  margin: 0 20px 20px 20px;
}

.Projects {
  box-shadow: 0px 0px 30px #00000043;
  border-radius: 5px;
  height: 17.5em;
  width: 15em;
  margin: 0 20px;
}

.ContatMe {
  box-shadow: 0px 0px 30px #00000043;
  border-radius: 5px;
  height: 17.5em;
  width: 15em;
  margin: 0 20px;
}

.AboutMe a,
.ContatMe a,
.Projects a,
.Skills a {
  text-align: left;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  color: #00000043;
}

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
    height: 100%;
  }

  #container {
    flex-direction: column;
    width: 800px;
  }

  #MyInfos {
    width: 100%;
    margin: 0 auto;
  }

  #content {
    justify-content: space-between;
    width: auto;
    padding: 10px 0px;
  }

  .AboutMe,
  .ContatMe,
  .Projects,
  .Skills {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #container {
    width: 90%;
    justify-content: flex-start;
    align-items: center;
  }

  #MyInfos,
  .AboutMe,
  .ContatMe,
  .Projects,
  .Skills {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width: 460px) {
  body {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
  }

  img {
    width: 100px;
    height: 100px;
  }

  #container {
    padding: 10px;
  }

  #MyInfos {
    margin: 0 auto;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #MyInfos > img {
    width: 250px;
    height: 250px;
    margin: 20px;
  }

  #MyInfos > h1 { 
    font-size: 25px;
    margin: 10px;
    line-height: 25px;
  }

  #MyInfos a {
    display: block;
    padding: 3px;
    margin: 8px;
    width: 80%;
  }

  #content {
    justify-content: center;
  }

  .AboutMe,
  .ContatMe,
  .Projects,
  .Skills {
    width: 300px;
    height: 300px;
    margin: 5px;
  }
}
